# Compiled Python files
*.pyc
__pycache__/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# IDE files
.idea/
.vscode/
*.iws
*.swp
*.swo
*~

# Node
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
/tmp/
/coverage/
/dist/
/build/

# Tags
tags

# Logs
log/
*.log
